[submodule "engine/external_libraries/tlsf"]
	path = external_libraries/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "external_libraries/tinydir"]
	path = external_libraries/tinydir
	url = https://github.com/cxong/tinydir.git
