include ${la.methc.sourceDir}/config/common.cfg

PEPPER_SDK_VERSION = 44

# Currently -std=c++11 produces compile errors with libc++
BuildFlags.compilerFlags.cxx = ${BuildFlags.compilerFlags.cxx} -std=gnu++11 -stdlib=libc++
BuildFlags.libraries = ${BuildFlags.libraries} ppapi ppapi_cpp pthread
BuildFlags.linkerFlags = ${BuildFlags.linkerFlags} -stdlib=libc++ --pnacl-exceptions=sjlj

# Use std::atomic on this platform
BuildFlags.defines = ${BuildFlags.defines} BOOST_LOCKFREE_FORCE_STD_ATOMIC

PkgConfig.options.static = true
PkgConfig.packages = ${PkgConfig.packages} sndfile
